@forward 'globals';

main {
  background: url("/assets/background/background-mobile.png") center fixed;
}

.menu-on {
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.mobile-menu {
  display: none;
  width: 70%;
  height: 100%;
  background: rgba(26, 26, 31, 0.85);
  list-style: none;
  font-size: 20px;
  padding-top: 10rem;

  li {
    padding-left: 2.5rem;

    i {
      width: 4rem;
    }
  }
}

#logo-mob-menu {
  margin-top: 8rem;

  img {
    width: 15rem;
  }
}

.mobile-menu i,
.mobile-menu a {
  text-decoration: none;
  color: var(--grey-light);
}

header button {
  display: flex;
  background-color: transparent;
  width: 100%;
  border: 0;
  font-size: 3rem;
  line-height: 4rem;
  position: fixed;
  left: 0;
  top: 0;

  //centering open and close buttons:
  i {
    margin: 1.6rem 0 1.6rem 2.6rem;
  }
}

.menu-btn.transparent {
  background-color: transparent;
}

.menu-btn.colored {
  background-color: rgb(255, 255, 255, 0.85);
}

.display-flex {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.closeup {
  font-size: 3.4rem;
}

.br-med {
  display: block;
  height: 2px;
  margin-bottom: 2px;
  background-color: var(--grey-light);
}

#pre-nav,
#desktop-nav {
  display: none;
}

// SECTION INTRO
#intro > * {
  width: 90%;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 8rem 0 7.5rem;

  h1 {
    font-size: 3.2rem;
    font-weight: 500;
    // font-size: 6.8rem; desktop
    font-family: Cocogoose, sans-serif;
    text-transform: uppercase;
    line-height: 3.3rem;
    text-align: left;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(255, 0, 0, 0.6);
    background-image: url('/assets/background/text-background.png');
    padding-top: 1rem;
  }

  h2 {
    color: var(--orange);
    font-size: 2rem;
    // font-size: 4.2rem; desktop
    font-weight: 200;
    font-family: 'Lato', sans-serif;
  }

  p {
    color: var(--grey-dark);
    font-size: 1.3rem;
    // font-family: 'Lato', sans-serif;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 2.2rem;
    border: 0.2rem solid white;
    padding: 3% 8% 3% 4%;
    margin: 1.8rem 0;
  }

  h3 {
    color: var(--dark-grey);
    font-size: 2.4rem;
    font-weight: 500;
    font-family: 'Cocogoose', sans-serif;
    text-transform: uppercase;
  }

  span {
    font-size: 1.6rem;
    margin-top: 0.4rem;
  }
}

// -----------------------
// SECTION COURSE FEATURES
#course-features > * {
  width: 90%;
}

#course-features {
  background: var(--grey-dark);
  background-image: url('/assets/design/main-program-background.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.6rem 0 4rem;

  h2 {
    color: var(--grey-light);
    font-size: 2rem;
    text-align: center;
  }

  span {
    display: block;
    height: 0.1em;
    width: 4rem;
    background-color: var(--orange);
    border-radius: 1rem;
    margin: 1.4rem 0 4rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  li {
    background-color: rgb(255, 255, 255, 0.1);
    display: flex;
    // flex-wrap: wrap;
    gap: 0.8rem;
    align-items: center;
    padding: 4%;
  }

  div {
    display: flex;
    justify-content: center;
    width: 10rem;
    font-size: 3rem;
    color: var(--grey-light);
    // padding-right: 1.2rem;
  }

  h3 {
    color: var(--orange);
    font-size: 1.6rem;
    min-width: 90px;
  }

  p {
    grid-column: span 5;
    color: var(--grey-light);
    font-size: 1.2rem;
  }

  a {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: var(--orange);
    padding: 2.2rem 0;
    width: 70%;
    margin-top: 3.2rem;
  }
}

#feat-teachers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin: 0;
  padding: 3.6rem 0 4rem;
  background-color: rgb(255, 255, 255, 0.8);

  h2 {
    color: var(--grey-dark);
    font-size: 2rem;
    text-align: center;
  }

  span {
    display: block;
    height: 0.1em;
    width: 4rem;
    background-color: var(--orange);
    border-radius: 1rem;
    margin: 2rem 0;
  }
}

#teachers-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: auto;
  //desktop media query:
  // display: grid;
  // gap: 20px;
  // grid-template-columns: 1fr 1fr;
}

.teachers-card {
  display: flex;
  width: 95%;
  gap: 20px;
  padding: 5%;
}

.teachers-card.more-mobile {
  display: none;
}

.img-container {
  display: flex;
  min-height: 10rem;
  min-width: 10rem;
  max-height: 10rem;
  max-width: 10rem;
  align-items: flex-end;
  justify-content: end;
  background-image: url("/assets/design/img-back-transp.png");
  background-size: 140%;
}

.teachers-card img {
  height: 90%;
  // width: 35%;
}

.card-info {
  display: flex;
  flex-direction: column;
  color: var(--grey-dark);
  justify-content: center;

  h3 {
    font-size: 1.4rem;
    padding-bottom: 0.6rem;
  }

  .p1,
  .p2 {
    font-size: 0.9rem;
  }

  .p1 {
    font-style: italic;
    color: var(--orange);
  }

  .br {
    display: block;
    height: 2px;
    margin-bottom: 2px;
    background-color: var(--orange);
  }

  // .line {
  //   height: 0.2rem;
  //   margin-bottom: 1rem solid black;
  //   width: 2rem;
  // }
}

#feat-teachers button {
  width: 95%;
  height: 5rem;
  // font-family: Lato, sans-serif;
  text-transform: uppercase;
  color: var(--grey-dark);
  background-color: white;
  border: 0.1rem solid var(--grey-light);
  margin-top: 2rem;
}

#feat-teachers i {
  color: var(--orange);
}

#our-clients {
  display: none;
}

footer {
  display: none;
}
