*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: blanchedalmond;
  font-family: 'Cocogoose', sans-serif;
  padding: 0 20px;
}

.menu-on {
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

/* .br {
  display: block;
  margin-bottom: 0em;
}

.brmedium {
  display: block;
  margin-bottom: 1em;
}

.brlarge {
  display: block;
  margin-bottom: 2em;
} */

/* add with js for mobile menu */
.mobile-menu {
  display: none;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  width: 70%;
  background-color: #272a31;
  background-image: url(/assets/main-program-background.png);
  list-style: none;
  font-size: 20px;
  padding: 0;
  position: absolute;
  top: 0;
}

header button {
  border: 0;
  background-color: transparent;
  margin: 10px;
}

.display-block {
  display: block;
}

.closeup {
  font-size: 18px;
}

.mobile-menu i,
.mobile-menu a {
  text-decoration: none;
  color: white;
}

.br-med {
  display: block;
  height: 2px;
  margin-bottom: 2px;
  background-color: aliceblue;
}

#feat-teachers {
  background-color: rgb(140, 222, 226);
}

#teachers-grid {
  display: grid;
  gap: 20px;

  /* desktop media query: */
  grid-template-columns: 1fr 1fr;
}

#teachers-card {
  display: flex;
  background-color: rgb(187, 186, 186);
  gap: 20px;
}

#teachers-card img {
  height: 200px;
}

.card-info {
  display: flex;
  flex-direction: column;
}
