// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
  font-family: 'Cocogoose';
  src: url(fonts/Cocogoose.ttf);
}
@font-face {
  font-family: 'Cocogoose-bold';
  src: url(fonts/Cocogoose-Pro/Cocogoose-Pro-Comp-Bold-trial.ttf);
}
@font-face {
  font-family: 'Cocogoose-thin';
  src: url(fonts/Cocogoose-Pro/Cocogoose-Pro-Comp-Thin-trial.ttf);
}
//Globals

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  // margin-block-start: 0;
  // margin-block-end: 0;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}