// Fonts
// Lato
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
//Cocogoose
@import url('http://fonts.cdnfonts.com/css/cocogoose'); 


//Globals

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: Lato, sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  // margin-block-start: 0;
  // margin-block-end: 0;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}