// FONTS
// Lato
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

//Cocogoose
@font-face {
  font-family: 'Cocogoose';
  src: url('../fonts/CocogoosePro/CocogooseProUltraCompTrial-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('../fonts/CocogoosePro/CocogooseProUltraCompTrial-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('../fonts/CocogoosePro/CocogooseProUltraCompTrial-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('../fonts/CocogoosePro/CocogooseProUltraCompTrial-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('../fonts/CocogoosePro/CocogooseProUltraCompTrial-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('../fonts/CocogoosePro/CocogooseProUltraCompTrial-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

//Globals

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: Lato, sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  // margin-block-start: 0;
  // margin-block-end: 0;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}